
#header-nav {
	background-color: lightgrey;
	border-radius: 0;
	border-bottom: 3px solid grey;
	color: black;
}

.navbar{
  background-color: lightgrey;
  font-family: cursive;
  border-bottom: 3px solid grey;
  margin-bottom: 0px;
}

.navbar-default .navbar-brand{
    color: black;
}

.navbar-brand{
  color: black;
  font-size:175%;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
  color:black;
}

#nav-list {
  font-family: cursive;
  color: black;
  margin-top: 00px;
  background-color:white;
}

#nav-list a {
  color: black;
  text-align: center;
}

#nav-list a:hover {

}

#nav-list li {
  border-bottom: 1px solid black;
}


.cont {
  position: relative;
  padding: 20px;
}

.box {
  position: relative;
  border: 3px solid black;
  width: 100%;
  color: black;
  overflow: hidden;
  background-color: lightgrey;
}

.text {
  position: relative;
  margin:10px;
  padding-top: 30px;
}
